.accounts-content {
    background-color: #435c70;
    padding: 40px;
}

.accounts-content, .tm-content-row {
    box-shadow: 1px 1px 5px 0 #455c71;
    min-height: 1px;
    max-height: none;
    height: auto;
    margin-top: 30px;
}

.tm-content-row {
    justify-content: space-between;
    margin-left: -20px;
    margin-right: -20px;
    display: flex;
    flex-wrap: wrap;
}

.tm-col-avatar {
    max-width: 425px;
    width: 37%;
    padding-left: 15px;
    padding-right: 15px;
}

.tm-block-avatar {
    height: auto;
}

.tm-block-avatar, .tm-block-settings {
    max-height: none;
}

.tm-block-col {
    margin-bottom: 30px;
}

.tm-bg-primary-dark {
    background-color: #435c70;
}

.tm-block {
    padding: 40px;
    box-shadow: 1px 1px 5px 0 #455c71;
    min-height: 350px;
    height: auto;
}

.tm-avatar-container {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tm-avatar {
    width: 345px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}

.tm-avatar-delete-link {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
    z-index: 1000;
    padding: 14px;
    border-radius: 50%;
    background-color: rgba(57, 78, 100, 0.7);
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    display: none;
    transition: all 0.2s ease;
}

.tm-product-delete-icon {
    font-size: 1.1rem;
    color: #fff;
}

.tm-avatar-container:hover .tm-avatar-delete-link {
    display: block;
}

.tm-col-account-settings {
    max-width: 822px;
    width: 63%;
    padding-left: 15px;
    padding-right: 15px;
}

.tm-block-col {
    margin-bottom: 30px;
}

.tm-signup-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.form-group {
    margin-bottom: 15px;
    width: 50%;
    padding: 5px 10px;
}

.form-group label {
    color: #fff;
    margin-bottom: 10px;
}

.form-control {
    display: block;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border: 0;
    padding: 19px 18px;
    border-radius: 0;
    height: 50px;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}