header {
    background-color: #567086;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    box-sizing: border-box;
}

h1 {
    text-transform: uppercase;
    margin: 0;
    color: white;
    font-size: 1.5em;
}

header div {
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.nav-link + .nav-link {
    margin-left: 20px;
}

header p {
    margin: 0;
    margin-top: 10px;
}

header a {
    color: white;
    transition: color .2s;
}

.nav-link:hover {
    color: #f5a623;
}

header i {
    font-size: 1.5em;
}

header p i {
    font-size: .9em;
}

.header-content div span {
    font-weight: 600;
}