@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #4e657a;
    font-family: 'Poppins', 'Helvetica', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 20px;
}